@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Jost:wght@400;500;600;700&family=Montserrat:wght@200;500;800&family=Oxygen:wght@300;400;700&display=swap');


* {
    font-family: Oxygen;
}

.card-point {
    border-radius: 12px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.06);
    width: 250px;
    height: 140px;
}

.card {
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    weight: auto;
}

.wrapper {
    border-radius: 12px;
}

.text {
    color: #28205A;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.date {
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 400px;
}

.sum-point {
    color: #28205A;
    font-size: 24px;
    font-weight: 600;
}

.history {
    color: #28205A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-item a {
    font-size: 24px;
    color: #000;
    font-weight: 600;
}

.card-header: active {
    background-color: #FFF; 
}

.image {
    width: 18px;
    height: 24px;
}

.wrapper-sm {
    border-radius: 12px;
    padding: 16px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.02);
}

.text-point {
    color: #000;
    font-family: Oxygen;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


//breakpoints
@media (min-width: 576px) { 
    .card-point {
        weight: 340px;  
    }

    .history {
        font-size: 12px;
    }
 }

@media (min-width: 768px) { 
    .wrapper {
        gap: 530px;
    }
    
 }


@media (min-width: 992px) { 
    .wrapper {
        gap: 500px;
    }
 }


@media (min-width: 1200px) { 
    .wrapper {
        gap: 500px;
    }
 }
