@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Jost:wght@400;500;600;700&family=Montserrat:wght@200;500;800&family=Oxygen:wght@300;400;700&display=swap');

* {
    font-family: Oxygen;
}

.card-text {
    border-radius: 10px;
    background: #F6F7F9;
    padding: 12px;
}

.title {
    color: #293F7C;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

.card {
    border-color: #FFF;
    border-radius: 12px;   
}

.card a {
    text-decoration: none;
    color: black;
}

.progress {
    height: 7px;    
}

.progress-bar {
    border-radius: 100px;
    background: linear-gradient(274deg, #482EEB 0%, #DCEB2E 100%);
    height: 7px;
}

.voucher {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button {
    background: #D9D9D9;
    width: 78px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

.button:hover {
    background: #293F7C;
}

//breakpoints
@media (min-width: 576px) { 
    
 }

@media (min-width: 768px) { 
    .card {
        width: 506px;
    }
 }


@media (min-width: 992px) { 
    .card {
        width: 506px;
    }
 }


@media (min-width: 1200px) { 
    .card {
        width: 506px;
    }
 }